
#full-name {
    font-weight: bold;
}

#content {
    margin: 1%;    
}

#profile-picture-container {
    border: 5px;
    border-style: outset;
}

p {
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-style: italic;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:lightblue;
    border-style: inset;
    text-align: center;
 }

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }